body{
    background-color: black;
}


.title{
    color:white;
    font-family:"Bebas Neue";
    text-align: center;
}

.menu-nav{
    font-family:"Bebas Neue";
    height: 50px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img{
    height:370px;
    width:50%;
    object-fit: cover;
    object-position: cover;
    margin:10px;
    border:solid;
    border-width:5px ;
    border-color:white;

    
}

.gallery{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;

}

#home{
    margin:0 20px;
    color:white;
    cursor: pointer;
}

#contact{
    margin:0 20px;
    cursor: pointer;
    color:white;
}

#about{
    margin:0 20px;
    cursor: pointer;
    color:white;
}   
#list{
    top:-26px;
    position: relative;
    display: flex;
    flex-direction: row;
    font-size:2em;
    justify-content: center;
    font-family: "Bebas Neue";
    background-color: rgb(61,6,61);

    }
    
    .fa-instagram{
        text-decoration:none;
        color:white;
    }
    
    .fa-envelope{
        color:white;
        margin:0 20px;
    }
    
    #contact:hover{
        color:gray;
        transform: translateY(-5px);
        transition:0.5s;
    }
    
    #about:hover{
        color:gray;
        transform: translateY(-5px);
        transition:0.5s;
    
    
    }
    
    #home:hover{
        color:gray;
        transform: translateY(-5px);
        transition:0.5s;
    
    
    }
    
    .fa-instagram:hover{
        color:gray;
        transform: translateY(-5px);
        transition:0.5s;
    
    
    }
    
    .fa-envelope:hover{
        color:gray;
        transform: translateY(-5px);
        transition:0.5s;
    
    
    }
    